/* components/Navbar.module.css */
.navbar {
  background-color: #333;
  padding: 1rem;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navItem {
}

.navLink {
  color: white;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}
/* Apply margin-left: auto to push Login link to the right */
.login {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 90%;
}

